<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="author" content="Ruimin Li">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login Page</title>
</head>

<body class="app-body">
  <div class="col-md-4 loginAbove">
  <form id="loginForm" class="loginForm jumbotron">
    <h3>Sign In</h3>
    <div class="m1 form-group" >
        <label class="floatlabel">User Name</label>
        <input type="text" class="form-control" id="userName" name="userName"  [(ngModel)]="userName" required>
        <div *ngIf="nameValid" class="alert alert-danger" id="nameValidity">{{ nameValid }}</div>
    </div>

    <div class="m2 form-group">
        <label class="floatlabel">Password</label>
        <input type="password" class="form-control" id="userPassword" name="userPassword"  [(ngModel)]="userPassword" required>   
         <div *ngIf="passwordValid" class="alert alert-danger" id="passwordValidity">{{ passwordValid }}</div>
    </div>
     <h5> <div *ngIf="loginFailInfo" class="alert alert-danger" id="loginFail">{{ loginFailInfo }}</div></h5>
    <button type="submit" id="submit" class="btn btn-dark btn-lg btn-block" (click)="onSubmit()">Sign in</button>
    <h5></h5><p class="forgot-password text-right">
        Click <a id="registerTag" (click)= "redirectRegister()" style="text-decoration-line: underline;">here</a> for register
    </p>
  </form>
</div>
</body>
