<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="author" content="Ruimin Li">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login Page</title>
</head>



<body class="app-post-body">
  <h3>Posts</h3>
  <h6>New Post with Image</h6>
  <div style="display:flex;height:36px">
    <input type="text" class="form-control" id="newPost" name="newPost" required [(ngModel)]="inputNewPost"
      placeholder="Your Post here">&nbsp;&nbsp;
    <input type="file" class="form-control" name="image" id="newImage" (change)="uploadImage()">
    <button type="submit" class="btn btn-primary" id="submit-newPost" value="Submit"
      (click)="newPost()">Post</button>&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary" id="submit-clearPost" value="Submit" (click)="clearPost()">Clear
      Post</button>
    <br>
  </div>
  <h3>Search Posts</h3>
  <div style="display:flex">
    <input class="form-control" type="text" id="newSearch" name="newSearch" required [(ngModel)]="inputSearch"
      placeholder="search here">&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary" id="submit-newSearch" value="Submit"
      (click)="searchFunction()">Search</button>
  </div><br>

  <div class="main-content">
    <div class="section-content section-content-p30">
      <div class="container-fluid">
        <div class="row">
          <div *ngFor="let tempCurrPosts of tempPost" class="col-md-3">
            <br>
            <div class="followers-box">
              <div class="card" style="width: 16rem;">
                <img class="card-img-top" width="100%" src="{{ tempCurrPosts.url }}" alt="Card image cap">
                <div class="card-body">
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p> -->
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>timestamp:</b> {{ tempCurrPosts.date}}</li>
                    <li class="list-group-item"><b>author:</b> {{ tempCurrPosts.author}}</li>
                    <li class="list-group-item"><b>title: </b>{{ tempCurrPosts.title}}</li>
                    <li class="list-group-item"><b>text: </b>{{ tempCurrPosts.text}}</li>
                  </ul>
                </div>

                <input type="text" id="editComment" name="editComment" required [(ngModel)]="inputNewComment"
                  placeholder="Update here">&nbsp;&nbsp;
                <button type="submit" style="width:54%;font-size:10px" class="btn btn-primary" id="submit-comment"
                  value="Submit"> Edit</button>
                <input type="text" id="editComment" name="editComment" required [(ngModel)]="inputNewComment"
                  placeholder="Your comment here">&nbsp;&nbsp;
                <button type="submit" style="width:54%;font-size:10px" class="btn btn-primary" id="submit-comment"
                  value="Submit"> Comments</button>

              </div>

            </div>
            <br>
          </div>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>


</body>