<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="author" content="Sara Nabiya">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Posts</title>
</head>



<body class="app-post-body">
  <h3>Posts</h3>
  <h6>New Post</h6>
  <div style="display:flex;height:36px">
    <input type="text" class="form-control" id="newPost" name="newPost" required [(ngModel)]="inputNewPost"
      placeholder="">&nbsp;&nbsp;
    <input type="file" class="form-control" name="image" id="newImage" (change)="uploadImage()">
    <button type="submit" class="btn btn-primary" id="submit-newPost" value="Submit"
      (click)="newPost()">Post</button>&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary" id="submit-clearPost" value="Submit" (click)="clearPost()">Clear Post</button>
    <br>
  </div>
  <h3>Search Posts</h3>
  <div style="display:flex">
    <input class="form-control" type="text" id="newSearch" name="newSearch" required [(ngModel)]="inputSearch"
      placeholder="">&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary" id="submit-newSearch" value="Submit"
      (click)="searchFunction()">Search</button>
  </div><br>

  <div class="main-content">
    <div class="section-content section-content-p30">
      <div class="container-fluid">
        <div class="row">
          <div *ngFor="let currentPosts of tempPost" class="col-md-3">
            <br>
            <div class="followers-box">
              <div class="card" style="width: 16rem;">
                <img *ngIf="currentPosts.url != ''" class="card-img-top" width="100%" src="{{ currentPosts.url }}"
                  alt="Card image cap">
                <div class="card-body">
                  <ul class="list-group list-group-flush">

                    <li class="list-group-item"><b>Author:</b> {{ currentPosts.author}}</li>
                    <li class="list-group-item"><b>Title: </b>{{ currentPosts.title}}</li>
                    <li class="list-group-item"><b>Text: </b>{{ currentPosts.text }}</li>
                    <li class="list-group-item"><b>Timestamp:</b> {{ currentPosts.date}}</li>
                    <li class="list-group-item"><b>Latest Comment: </b>nobis aliquid molestiae perspiciatis et ea nemo ab reprehenderit</li>
                    <li class="list-group-item"><b>All Comments:</b>
                      <div *ngFor="let comments of currentPosts.comments">
                        <ul>{{comments.text}}<li>{{comments.email}}</li></ul>
                      </div>
                    </li>
                  </ul>
                </div>

                <input type="text" id="editComment" name="editComment" required [(ngModel)]="inputNewComment"
                  placeholder="Edit Comment">&nbsp;&nbsp;
                <button type="submit" style="width:54%;font-size:10px" class="btn btn-primary" id="submit-comment"
                  value="Submit">Edit</button>
                <input type="text" id="editComment" name="editComment" required [(ngModel)]="inputNewComment"
                  placeholder="New Comment">&nbsp;&nbsp;
                <button type="submit" style="width:54%;font-size:10px" class="btn btn-primary" id="submit-comment"
                  value="Submit">Comment</button>

              </div>

            </div>
            <br>
          </div>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>


</body>
