

<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="author" content="Ruimin Li">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Landing Page</title>
</head>

<body class="app-body">
<router-outlet></router-outlet>
<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <table clas = "table tabled-bordered">
        <tr>
          <td width = "60%">       <app-registeration class="form"></app-registeration></td>
          <td width = "50%">       <app-login class="form"></app-login></td>
        </tr>
      </table>
    </div>
  </div>
</div>
