<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="author" content="Ruimin Li">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Profile Page</title>
</head>
<br>


<body>
<router-outlet></router-outlet>
<div>
  <button type="submit" class="btn btn-primary" id="submit-goMain" value="Submit" (click)="onSubmit()">Main Page</button>
<br>
  <br>
  <body>
  <router-outlet></router-outlet>
  <div class="main-content">
    <div class="section-content section-content-p30">
      <div class="container-fluid">
        <table class = "table tabled-bordered">
          <tr>
            <th width = "50%">

              <div>User Information:
                <br>
                <br>
                <img id="userImg" src="{{ imgUrl }}"  width="300" height="300"/>
                <!--                <img  class="images" src={{ imgUrl }}/>-->
                <br>
              <br>
                <p>
                  <input type="file" name="image" id="newImage"  >
                </p>

                <br>
              <h3>Current Information</h3>
              <p>User Name: <span id="userName" name="userName">{{ userName }}</span>
              <p>Password: <span id="passWord" name="passWord" type="password" >********</span>
              <p>Phone: <span id="phone" name="phone">123-123-1234</span>
              <p>Email: <span id="email" name="email">sn_62@rice.edu</span>
              <p>zip: <span id="zip" name="zip">680043</span>
              <p>display name: <span id="displayName" name="displayName">Sara</span>
              <p>DOB: <span id="DOB" name="DOB">19-08-2000</span>
                <br>
                <br>
              </div>
            <th width = "50%">
            <div>
            <form id="changeInfoForm">
              <h3 >Edit Profile</h3>
              <br>
              <div>User Name: <input class="form-control" type="text" id="loginName" name="loginName" required [(ngModel)]="inputName" placeholder="begin with letter">
                <div class="alert alert-danger" id="nameValidity">{{ nameCheck }}</div>
              </div>
              <p>Display Name: <input  class="form-control"  type="text" id="loginDisplayName" name="loginDisplayName"  [(ngModel)]="inputDisplayName" placeholder="optional">
              </p>
              <p>Email address: <input  class="form-control"  type="text" id="loginEmail" name="loginEmail" required [(ngModel)]="inputEmail" placeholder="***@***">
                <span class="error-class" id="emailValidity">{{ emailCheck }}</span>
              </p>
              <p>Phone number: <input  class="form-control"  type="text" id="loginPhone" name="loginPhone" required [(ngModel)]="inputPhone" placeholder="123-123-1234">
                <span class="error-class" id="phoneValidity">{{ phoneCheck }}</span>
              </p>
              <p>Date of Birth: <input  class="form-control"  type="date" id="loginBirth" name="loginBirth" required [(ngModel)]="inputBirth" placeholder="mm/dd/yyyy">
                <span class="error-class" id="BirthValidity">{{ birthCheck }}</span>
              </p>
              <p>ZIP: <input type="text"  class="form-control" id="loginZip" name="loginZip" required [(ngModel)]="inputZIP" placeholder="five digits">
                <span class="error-class" id="ZipValidity">{{ zipCheck }}</span>
              </p>
              <p>Password: <input type="password"  class="form-control"  id="loginPassword" name="loginPassword" required [(ngModel)]="inputPassword" >
                <span class="error-class" id="passwordValidity">{{ passwordCheck }}</span>
              </p>
              <p>Repeat Password: <input  class="form-control"  type="password" id="loginPassword2" name="loginPassword2" required [(ngModel)]="inputPassword2" >
              </p>
              <br><br>

              <button type="submit" class="btn btn-primary"  id="submit-login" value="Submit" (click)="onSubmit2()">Submit</button>&nbsp;&nbsp;
              <button type="reset" class="btn btn-primary"  value="Reset">Clear</button>



            </form>
      </div>
          </tr>
        </table>
      </div>
    </div>
  </div>




</body>

</div>
