<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="author" content="Ruimin Li">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Profile Page</title>
</head>
<br>


<body>
  <router-outlet></router-outlet>
  <div>
    <button type="submit" class="btn btn-primary" id="submit-goMain" value="Submit" (click)="onSubmit()">Main
      Page</button>
    <br>
    <br>

    <body>
      <router-outlet></router-outlet>
      <div class="main-content">
        <div class="section-content section-content-p30">
          <div class="container-fluid">
            <table class="table tabled-bordered">
              <tr>
                <th width="50%">

                  <div>User Information:
                    <br>
                    <br>
                    <img id="userImg" src="{{ imgUrl }}" width="300" height="300" />
                    <br>
                    <br>
                    <p>
                      <input type="file" name="image" id="newImage">
                    </p>

                    <br>
                    <h3>Current Information</h3>
                    <p>User Name: <span id="userName" name="userNameDisplay">{{ userNameDisplay }}</span>
                    <p>Password: <span id="passWord" name="passWord" type="password">********</span>
                    <p>Phone: <span id="phone" name="phone">{{contactNumberDisplay}}</span>
                    <p>Email: <span id="email" name="email">{{email}}</span>
                    <p>zip: <span id="zip" name="zip">{{zipDisplay}}</span>
                    <p>display name: <span id="displayName" name="displayName">{{displayName}}</span>
                    <p>DOB: <span id="DOB" name="DOB">{{dateOfBirthDisplay}}</span>
                      <br>
                      <br>
                  </div>
                <th width="50%">
                  <div>
                    <form id="changeInfoForm">
                      <h3>Edit Profile</h3>
                      <br>
                      <div *ngIf="successMessage" class="alert alert-success" id="successMessage"><em>{{ successMessage }}</em></div>
                      <div> <label class="floatlabel">User Name: </label><input class="form-control" type="text"
                          id="userName" name="userName" required [(ngModel)]="userName"
                          placeholder="must begin with letter">
                        <div *ngIf="nameCheck" class="alert alert-danger" id="nameValidity">{{ nameCheck }}</div>
                      </div>
                      <div><label class="floatlabel">Display Name:</label>
                        <input class="form-control" type="text" id="displayName" name="displayName"
                          [(ngModel)]="displayName" placeholder="optional">
                      </div>
                      <div>Email Address: <input class="form-control" type="text" id="emailId" name="emailId" required
                          [(ngModel)]="emailId" placeholder="xxxxx@xxxxx.xxx">
                        <div *ngIf="emailCheck" class="alert alert-danger" id="emailValidity">{{ emailCheck }}</div>
                      </div>
                      <div>Contact Number: <input class="form-control" type="text" id="contactNumber"
                          name="contactNumber" required [(ngModel)]="contactNumber" placeholder="123-123-1234">
                        <div *ngIf="phoneCheck" class="alert alert-danger" id="phoneValidity">{{ phoneCheck }}</div>
                      </div>
                      <div>Date of Birth: <input class="form-control" type="date" id="dateOfBirth" name="dateOfBirth"
                          required [(ngModel)]="dateOfBirth" placeholder="mm/dd/yyyy">
                        <div *ngIf="birthCheck" class="alert alert-danger" id="BirthValidity">{{ birthCheck }}</div>
                      </div>
                      <div>Zip Code: <input class="form-control" type="text" id="zipCode" name="zipCode" required
                          [(ngModel)]="zipCode" placeholder="enter five digits">
                        <div *ngIf="zipCheck" class="alert alert-danger" id="ZipValidity">{{ zipCheck }}</div>
                      </div>
                      <div>Password: <input class="form-control" type="password" id="password" name="password" required
                          [(ngModel)]="Password">
                        <div *ngIf="passwordCheck" class="alert alert-danger" id="passwordValidity">{{ passwordCheck }}
                        </div>
                      </div>
                      <div>Re-Enter Password: <input class="form-control" type="password" id="confirmPassword"
                          name="confirmPassword" required [(ngModel)]="confirmPassword">
                      </div>
                      <br><br>

                      <button type="submit" class="btn btn-primary" id="submit-login" value="Submit"
                        (click)="onSubmit2()">Submit</button>&nbsp;&nbsp;
                      <button type="reset" class="btn btn-primary" value="Reset">Clear</button>



                    </form>
                  </div>
              </tr>
            </table>
          </div>
        </div>
      </div>




    </body>

  </div>