<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="author" content="Sara Nabiya">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Main Page</title>
</head>


<body>
<router-outlet></router-outlet>
<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <table clas = "table tabled-bordered">
        <tr>
          <th width = "20%" valign='top' >   <app-header class="form app-header"></app-header></th>
           <th width = "80%" valign='top' >   <app-post class="form app-post"></app-post></th>
        </tr>
      </table>
    </div>
  </div>
</div>
</body>




